# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df1=pd.read_csv(url)

In [3]:
df1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
url2="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df2=pd.read_csv(url2)

In [6]:
df2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [9]:
url3="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df3=pd.read_csv(url3)

In [10]:
df3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [13]:
new_df=pd.concat([df1,df2,df3], axis=0)
new_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
7066,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
7067,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
7068,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
7069,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

In [14]:
new_df.drop(columns=['State','Gender'], inplace=True)

In [20]:
new_df.columns = new_df.columns.str.lower().str.replace(' ', '_')
new_df

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [22]:

new_df.rename(columns = {'st' : 'state'}, inplace = True)
new_df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [24]:
new_df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [26]:
new_df['state']=new_df['state'].replace({'Washington':'WA','Arizona':'AR','Nevada':'NA','California':'CA', 'Oregon':'OR', 'Cali': 'CA'})

In [28]:
new_df['state'].unique()

array(['WA', 'AR', 'NA', 'CA', 'OR', 'AZ', nan], dtype=object)

In [30]:
new_df['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [32]:
new_df['gender']=new_df['gender'].replace({'Femal':'F', 'female':'F'})

In [34]:
new_df['gender'].unique()

array([nan, 'F', 'M', 'Male'], dtype=object)

In [36]:
new_df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [38]:
new_df['education']=new_df['education'].replace({'Bachelors':'Bachelor'})

In [40]:
new_df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [42]:
new_df['vehicle_class']=new_df['vehicle_class'].replace({'Luxury SUV':'Luxury', 'Sports Car':'Luxury', 'Luxury Car':'Luxury'})
new_df['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

In [44]:
new_df['customer_lifetime_value']=new_df['customer_lifetime_value'].str.replace('%', '', regex=False)
new_df['customer_lifetime_value'].unique

<bound method Series.unique of 0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
7065           NaN
7066           NaN
7067           NaN
7068           NaN
7069           NaN
Name: customer_lifetime_value, Length: 12074, dtype: object>

In [46]:
new_df['customer_lifetime_value']=pd.to_numeric(new_df['customer_lifetime_value'])

In [48]:
new_df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [50]:
new_df['number_of_open_complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan, 0,
       2, 3, 1, 5, 4], dtype=object)

In [52]:
import numpy as np

In [54]:
new_df['number_of_open_complaints'] = new_df['number_of_open_complaints'].apply(
    lambda x: str(x).split('/')[1] if isinstance(x, str) else np.nan
)

In [56]:
new_df['number_of_open_complaints']=pd.to_numeric(new_df['number_of_open_complaints'])

In [58]:
new_df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [60]:
new_df['number_of_open_complaints'].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

In [62]:
new_df.isnull().sum()

customer                      2937
state                        10007
gender                       10129
education                     2937
customer_lifetime_value      10014
income                        2937
monthly_premium_auto          2937
number_of_open_complaints    10007
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [64]:
percentage_null=new_df.isnull().mean()*100
percentage_null

customer                     24.324996
state                        82.880570
gender                       83.891005
education                    24.324996
customer_lifetime_value      82.938546
income                       24.324996
monthly_premium_auto         24.324996
number_of_open_complaints    82.880570
policy_type                  24.324996
vehicle_class                24.324996
total_claim_amount           24.324996
dtype: float64

In [84]:
#new_df.fillna(new_df.gender.mode())

In [74]:
new_df['gender'] = new_df['gender'].fillna(new_df['gender'].mode()[0])

In [78]:
new_df['gender'].isnull().sum()

0

In [82]:
new_df.isnull().sum()

customer                      2937
state                        10007
gender                           0
education                     2937
customer_lifetime_value      10014
income                        2937
monthly_premium_auto          2937
number_of_open_complaints    10007
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [92]:
new_df['total_claim_amount']= new_df['total_claim_amount'].fillna(new_df['total_claim_amount'].mean())

In [96]:
new_df['total_claim_amount'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7065    False
7066    False
7067    False
7068    False
7069    False
Name: total_claim_amount, Length: 12074, dtype: bool

In [100]:
new_df.isnull().sum()

customer                      2937
state                        10007
gender                           0
education                     2937
customer_lifetime_value      10014
income                        2937
monthly_premium_auto          2937
number_of_open_complaints    10007
policy_type                   2937
vehicle_class                 2937
total_claim_amount               0
dtype: int64

In [106]:
new_df['income']=new_df['income'].fillna(new_df['income'].mean())

In [108]:
new_df.isnull().sum()

customer                      2937
state                        10007
gender                           0
education                     2937
customer_lifetime_value      10014
income                           0
monthly_premium_auto          2937
number_of_open_complaints    10007
policy_type                   2937
vehicle_class                 2937
total_claim_amount               0
dtype: int64

In [112]:
new_df.duplicated().sum()

2939

In [122]:
new_df.duplicated(subset=['state']).sum()

12067

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [1]:
# Your code goes here
import pandas as pd  

# Load dataset  
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

# Display the first few rows
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [3]:
# Convert column names to lowercase and replace spaces with underscores  
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Display updated columns  
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [5]:
# Create a pivot table for total revenue by sales channel
sales_pivot = df.pivot_table(index="sales_channel", values="total_claim_amount", aggfunc="sum").round(2)

print(sales_pivot)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [7]:
# Create pivot table for avg CLV by gender and education
clv_pivot = df.pivot_table(index="gender", columns="education", values="customer_lifetime_value", aggfunc="mean").round(2)

print(clv_pivot)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [13]:
# Your code goes here
# Convert 'effective_to_date' to datetime  
df["effective_to_date"] = pd.to_datetime(df["effective_to_date"])  

# Extract month from the date  
df["month"] = df["effective_to_date"].dt.month  

# Create a pivot table using 'number_of_open_complaints'
complaints_pivot = df.pivot_table(index=["month", "policy_type"], values="number_of_open_complaints", aggfunc="sum").reset_index()

# Display the final long-format table
print(complaints_pivot)

   month     policy_type  number_of_open_complaints
0      1  Corporate Auto                 443.434952
1      1   Personal Auto                1727.605722
2      1    Special Auto                  87.074049
3      2  Corporate Auto                 385.208135
4      2   Personal Auto                1453.684441
5      2    Special Auto                  95.226817